/*  your css code here. If applicable */
*{
	text-align:center;
/* 	border:1px white solid; */
}
#card{
	margin-bottom:0px;
}
.pricing_card{
	height:450px;
	width:300px;
	background:grey;
	border-radius:10px;
	
	
}
h1{
	font-size:50px;
	
}
button{
	width:150px;
	height:60px;
	border-radius:10px;
	font-size:25px;
	background:orange;
	color:white;
	font-weight:bold;
	
}
.description{
	font-size:20px;
}
img{
	padding-top:4px;
}